body{
    margin: 0;
    padding: 0;
}

.alert{
    margin-bottom: 0px;
}
.contact-div{
    text-align: center;
    padding: 70px 0px;
}
.contact-div p{
    text-align: center;
    padding: 0px 50px;
    color: #333;
    margin-top: 30px;
    
}
.navbar-brand,#footer h1{
    font-family: 'Pirata One', cursive;
    font-size: 28px;
    background: -webkit-linear-gradient(#eee, #333);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    padding: none;
    
}

#main-content p{
     font-size: 18px;
}
#main-content img{
    height: 300px;
    width: 100%;
}
#main-content h4{
    margin-top: 20px;
    
}

/* FOOTER starts here */
#footer{
    padding: 20px;
    text-align: center;
}
#footer a{
    color: aliceblue;
    text-decoration: none;
    margin-left: 8px;
}
#footer a:nth-child(1):hover{
    color: #6EC72D;
}
#footer a:nth-child(2):hover{
    color: #6EC72D;
}
#footer a:nth-child(3):hover{
    color: #4267B2;
}
#footer a:nth-child(4):hover{
    color: #1DA1F2;
}
#footer a:nth-child(6):hover{
    color: red;
}
/* FOOTER Ends here */